@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Pacifico');

body {
  padding-top: 70px;
  font-family: 'Oswald', sans-serif;
}

.navbar-brand{
  font-family: 'Pacifico', cursive;
}